.block {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  appearance: none;

  &__element {
    display: flex;
    justify-content: center;

    &--modifier {
      display: inline-flex;
      background-color: hotpink;
    }
  }
}
